.projects{
    color: orange;
    width: 100%;
    height: 50vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.pro-con{
    width: 65%;
    display: flex;
    justify-content: space-between;
}
.pro-box{
    width: 400px;
    height: 35vh;
    background: white;
    overflow: hidden;
    border-radius: 10px;
}
.link{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
}
.pro-box a{
    text-decoration: none;
}
.pro-image{
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-details{
    width: 100%;
    height: 30%;
    background: #2A2A2A;
    color: white;
    text-decoration: none;
    font-size: 15px;
    
}
.pro-details .text{
    padding-left: 10px;
    
}
.pro-image img{
    width: 100%;
    height: 100%;
    transition: .3s;
}
.pro-image img:hover{
    width: 150%;
    height: 150%;
}