.exprience{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exprience h1{
    font-family: sans-serif;
    color: white;
}
.language{
    width: 80%;
    height: 30vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.language img{
    width: 100px;
    height: 100px;
}