.exprience{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exprience h1{
    font-family: sans-serif;
    color: white;
}
.language{
    width: 80%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.language img{
    width: 100px;
    height: 100px;
}

@media screen and (max-width:600px){
    .language{
        flex-direction: column;
    }
}